<template>
  <div class="gmap">
    <div ref="e" class="gmap__wrapper" :style="{ height }"></div>    
    <slot></slot>
  </div>
</template>
<script>
import map from '@/core/mixins/map'
export default {
  name: 'google-maps',
  mixins: [    
    map
  ],
  props: {
    height: {
      type: String,
      default: '300px'
    }
  }
}
</script>
<style lang="scss" scoped></style>
