<template>
  <div ref="e">oi</div>
</template>

<script>
import mapElement from '@/core/mixins/element'
import { MARKER_PROPS } from '@/core/utils/constants'

export default {
  name: 'google-maps-marker',
  mixins: [
    mapElement
  ],
  props: MARKER_PROPS
}
</script>
