<template>
  <google-maps :center="center" @center_changed="center = $event">
    <google-maps-marker v-for="(m, i) in markers" :position="m.position" :draggable="m.draggable" @click="center=m.position" :key ="`marker-${i}`" @position_changed="m.position = $event"/>
    <button @click="teste">oi</button>
  </google-maps>
</template>

<script>
import icon from '@/assets/map_pin.svg'
export default {
  data () {
    return {
      center: {
        lat: -16.6864438,
        lng: -49.2669937
      },
      markers: [
        {
          icon: icon,
          draggable: true,
          position: {
            lat: -16.6864438,
            lng: -49.2669937
          }
        }
      ]
    }
  },
  methods: {
    teste () {
      let self = this
      self.markers = [{
        draggable: false,
        position: {
          lat: -16.6869058,
          lng: -49.2661137           
        }        
      }]
    }
  }

}
</script>
<style lang="scss" scoped>

</style>
